<html>
<body>
  <p id="message"><%= message %></p>
  <script>
    const messageElement = document.getElementById('message')
    const messageElementValue = document.getElementById('message').textContent
    messageElement.style.display = 'none';
   
    if (confirm(messageElementValue)) {
      window.location.href = '<%= redirectUrl %>';
    }
  </script>
</body>
</html>