<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="salary.css">
    <title>Salary</title>
</head>

<body>
    <section id="salary">
        <main>
            <div class="container">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1>Salary Record</h1>
                            <!-- <ul class="breadcrumb">
                                <li>
                                    <a href="salary.html">Attendance</a>
                                </li>
                                <li><i class='bx bx-chevron-right'></i></li>
                                <li>
                                    <a class="active" href="dashboard.html">Home</a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                <div class="table-wrapper">
                    <table class="table" id="attendance" style="font-size: small;">
                        <thead>
                            <tr>
                                <th>Salary ID</th>
                                <th>Employee ID</th>
                                <th>Basic Salary</th>
                                <th>Total Salary</th>
                                <th>Tax</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </section>
</body>

</html>