@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

iframe {
	border: none;
	width: 100%;
	height: 100vh;
	/* height: calc(100% - 800px); */
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* Employee Section */

#attendance {
    /* background-color: red; */
    position:relative;
    padding: 24px;
    transition: .3s ease;
    font-family: var(--poppins);
    overflow-x: auto;
}

.table-wrapper {
    width: 100%;
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow-y: auto;

}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}

.col-sm-4 {
    display: flex; 
}

.import{
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 5px;
    background-color: var(--blue);
    margin-top: 25px;
    color: white;
}

.import:hover {
    background-color: #0056b3;
}

.searchButton{
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 5px;
    background-color: var(--blue);
    margin-top: 25px;
    color: white;
}

.searchButton:hover {
    background-color: #0056b3;
}

.input{
    height: 30px;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 5px;
    background-color: var(--blue);
    margin-top: 25px;
    color: white;
    padding: 5px 5px;
}
.input:hover {
    background-color: #0056b3;
}

.month{
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    width: 160px;
    border-radius: 5px;
    background-color: var(--blue);
    margin-top: 25px;
    color: white;
}
.year{
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    width: 160px;
    border-radius: 5px;
    background-color: var(--blue);
    margin-top: 25px;
    color: white;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}


@media screen and (max-width: 768px) {
    .table {
        width: 100%;
        overflow-y: auto;
    }

    /* .table th:nth-child(4),
    .table td:nth-child(4) {
        display: none;
    }

    .table th:nth-child(5),
    .table td:nth-child(5) {
        display: none;
    }

    .table th:nth-child(6),
    .table td:nth-child(6) {
        display: none;
    }

    .table th:nth-child(7),
    .table td:nth-child(7) {
        display: none;
    } */
}

@media screen and (max-width: 500px){
    .month {
        width: 70%; 
        margin-top: 10px; 
        align-items: center;

    }

    .year {
        width: 70%; 
        margin-top: 10px; 
        align-items: center;
    }

   
}

